.border-test {
    -fx-border-color: #4682b2;
    -fx-border-radius: 5;
}

.border-test-2 {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-border-color: #4682b2;
    -fx-border-radius: 10;
    -fx-border-width: 3;
}

.border-test-3 {
    -fx-border-color: #59a7ff;
    -fx-border-width: 0 0 1 0;
}

.border-add-customers-parent {
    -fx-border-color:  #59a7ff;
    -fx-border-radius: 10;
    -fx-border-width: 2;
}

.border-bottom {
    -fx-border-color:  #59a7ff;
    -fx-border-width: 1 1 1 1;
}

.border-top-bottom {
    -fx-border-color:  #59a7ff;
    -fx-border-width: 1 0 0 0;
}

.border {
    -fx-border-color:  #59a7ff;
}

.border-grid {
   -fx-background-color:white;
}
